@import '../node_modules/bulma/bulma.sass'

html
  height: 100%

body
  min-height: 100%
  background-color: #fafafa

.Layout main
  min-height: calc(100vh - 310px)
  padding: 1rem 0

.Home
  .search-bar
    display: flex
    flex-direction: column
    align-items: center

.Dashboard
  .info-tiles
    margin: 1rem 0

  .view-tiles
    margin: 1rem 0
    display: flex
    align-items: center
    justify-content: flex-end
